<!-- <ion-view view-title="{{chat.name}}"> -->
<ion-view view-title="信息">
  <ion-content class="padding">
    <div class="usr-info">
      <div class="usr-face">
        <img ng-src="{{chat.image}}">
      </div>
      <h1>{{chat.name}}</h1>
      <h3>{{chat.title}}</h3>
      <div class="usr-des">
        <h6>我的想法或需求</h6>
        <p>{{chat.info}}</p>
      </div>
      <div class="usr-loc">
        <h6>如何找到我</h6>
        <p>{{chat.location}}</p>
      </div>
      </p>
    </div>
  </ion-content>
</ion-view>
