<ion-view view-title="欢迎" hide-nav-bar="true">
  <ion-content scroll="false">
    <div class="logo">
      <img src="img/logo.png"/>
      <h1>巨蕉</h1>
      <h3>因为相聚&nbsp;&bull;&nbsp;所以相交</h3>
    </div>
    <div class="room-info">
      <img src="img/sf.png"/>
      <p>请登录为&nbsp;SegmentFault&nbsp;开放房间测试互动:&nbsp;1024</p>
    </div>
    <div class="list list-inset room-login">
      <label class="item item-input">
        <input type="tel" ng-model="roomInfo.roomId" placeholder="输入房间密钥">
      </label>
    </div>
    <div class="button-panel">
      <button class="button button-outline button-positive button-small button-round" ng-click="openModal('entry', roomInfo.roomId)">进入</button>
    </div>
  </ion-content>
</ion-view>
