<ion-modal-view view-cache="false">
  <ion-content>
    <div class="nt" ng-if="!login.pureEdit">旧用户输入手机号码取回曾经填写的信息</div>
    <div class="list list-inset" ng-if="!login.pureEdit">
      <label class="item item-input">
        <input type="tel" ng-model="login.usrUid" placeholder="输入手机号取回信息">
      </label>
    </div>
    <div class="button-panel" ng-if="!login.pureEdit">
      <button class="button button-outline button-small button-positive button-round" ng-click="login.getUsrInfo()">取回信息</button>
    </div>
    <div class="item input-pic">
      <div class="input-pic-pre" style="background-image:url({{reg.image}})"></div>
      <div class="button-panel">
        <button class="button button-outline button-small button-positive button-round" ng-click="sPIC()">随机更换</button>
      </div>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" ng-model="reg.name" placeholder="姓名">
      </label>
      <label class="item item-input">
        <input type="text" ng-model="reg.title" placeholder="头衔">
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <textarea ng-model="reg.info" placeholder="你的简介想法或需求"></textarea>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <textarea ng-model="reg.location" placeholder="如何找到你"></textarea>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="tel" ng-model="reg.uid" placeholder="输入手机号以方便下次取回信息" ng-disabled="login.status">
      </label>
    </div>
    <div class="button-panel">
      <button class="button button-outline button-small button-round button-positive" ng-click="regInfo()" ng-if="!login.status">提交信息并进入</button>
      <button class="button button-outline button-small button-round button-positive" ng-click="upInfo(login.pureEdit)" ng-if="login.status">确定信息</button>
    </div>
  </ion-content>
</ion-modal-view>
