<ion-modal-view view-cache="false">
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        取回介绍
      </div>
      <label class="item item-input">
        <input type="text" placeholder="唯一识别码">
      </label>
    </div>
    <div class="button-panel">
      <button class="button button-outline button-small button-round" ng-click="er()">取回信息并进入</button>
    </div>
    <div class="list">
      <div class="item item-divider">
        新介绍
      </div>
      <label class="item item-input">
        <input type="text" placeholder="姓名">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="头衔">
      </label>
      <label class="item item-input">
        <textarea placeholder="你的想法或需求"></textarea>
      </label>
      <label class="item item-input">
        <textarea placeholder="如何找到你"></textarea>
      </label>
    </div>
    <div class="button-panel">
      <button class="button button-outline button-small button-round" ng-click="er()">注册并进入</button>
    </div>
  </ion-content>
</ion-modal-view>
