<ion-view view-title="我">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive" ng-click="openModal()">编辑</button>
  </ion-nav-buttons>
  <ion-content>
  <div>{{usrInfo.image}}</div>
  <div>{{usrInfo.name}}</div>
  <div>{{usrInfo.title}}</div>
  <div>{{usrInfo.info}}</div>
  <div>{{usrInfo.location}}</div>
    <div class="button-panel">
      <button class="button button-outline button-small button-round" ng-click="ex()">退出</button>
    </div>
  </ion-content>
</ion-view>
