<ion-view view-title="Hackathon">
  <ion-content>
    <ion-refresher
      pulling-text="下拉以刷新"
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="搜索" ng-model="sq">
      </label>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <h6>{{chat.lastText}}</h6>
        <p>我的想法或需求: asdfasdfasdfa;sdfjkads;lfjak;lsdjfkl;asdjfl;asdjf;asdfasdfasdfasdfasdfaasd</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-positive" ng-click="remove(chat)">
          求认识
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
