<ion-view view-title="Hackathon">
  <ion-content>
    <ion-refresher
      pulling-text="下拉以刷新"
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="搜索" ng-model="sq">
      </label>
      <ion-item class="item-avatar item-icon-right" ng-repeat="chat in chats | filter:sq | orderBy:'name'" type="item-text-wrap" nav-transition="none" href="#/tab/chats/{{chat.uid}}">
        <img ng-src="{{chat.image}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.title}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-positive" ng-click="poke(chat.uid)">
          &nbsp;&nbsp捅
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
